server {
    listen 5000;
    access_log /var/log/nginx/keystone/keystone-access.log;
    error_log /var/log/nginx/keystone/keystone-error.log;
    location / {
        include uwsgi_params;
        uwsgi_param SCRIPT_NAME '';
        uwsgi_pass unix:///var/run/uwsgi/keystone/admin.sock;
    }
}
server {
    listen 35357;
    access_log /var/log/nginx/keystone/keystone-access.log;
    error_log /var/log/nginx/keystone/keystone-error.log;
    location / {
        include uwsgi_params;
        uwsgi_param SCRIPT_NAME '';
        uwsgi_pass unix:///var/run/uwsgi/keystone/public.sock;
    }
}
