[uwsgi]
wsgi-file = {{ snap }}/bin/keystone-wsgi-public
buffer-size = 65535
master = true
enable-threads = true
processes = 4
thunder-lock = true
lazy-apps = true
if-exists = {{ snap_common }}/etc/uwsgi/public.ini
ini = {{ snap_common }}/etc/uwsgi/public.ini
endif =
home = {{ snap }}/usr
uwsgi-socket = {{ snap_common }}/run/public.sock
pyargv = {{ pyargv }}
