[uwsgi]
wsgi-file = {{ snap }}/bin/keystone-wsgi-public
uwsgi-socket = /var/run/uwsgi/keystone/public.sock
buffer-size = 65535
master = true
enable-threads = true
processes = 4
thunder-lock = true
plugins = python
lazy-apps = true
pyargv = --config-file=/etc/keystone/keystone.conf --config-dir=/etc/keystone/conf.d --log-file=/var/log/keystone/keystone.log
